.feature-list {
  list-style-type: none;
  padding: 0;
  line-height: 56rem;

  &-item {
    margin-bottom: 12rem;
  }

  &-option {
    cursor: grab;

    &-clickable {
      cursor: pointer;
    }
  }
}
