.choice-question-int-form {
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.5;
  color: #5B5B5B;

  &-title {
    font-weight: 500;
    font-size: 20rem;
    line-height: 1.5;
    color: #5B5B5B;
  }

  &-desc {
    margin: 5rem 0;

    ul, ul {
      padding-left: 40rem;
    }

    p > br:first-child {
      display: none;
    }
  }

  &-answers {
    padding: 0;
    list-style: none;
  }
}
