@import 'styles/vars';

.live-search-widget {
  position: relative;
  display: inline-block;
  color: $brandish-grey;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  border-radius: 5px;



  &-input {
    line-height: 65rem;
    height: 64rem;
    padding: 0 20rem;
    box-sizing: border-box;
    color: $brandish-dark-green;
    border: 0;
    border-radius: 5px;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  &-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    right: 20rem;
    top: 50%;
    transform: translateY(-50%);
    stroke: currentColor;
    cursor: pointer;

    &-search {
      width: 1.5em;
      height: 1.5em;
    }

    &-close {
      font-size: 1em;
      fill: $brandish-grey;
    }
  }
}
