@import 'styles/vars';

.live-search-widget {
  position: relative;
  display: inline-block;
  color: $brandish-grey;
  box-sizing: border-box;
  border-radius: 5px;

  &-input {
    line-height: 56rem;
    height: 56rem;
    padding: 0 24rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    width: 100%;
    font-size: 16rem;
    color: #226B5E;
    font-weight: 400;

    &::placeholder {
      color: #226B5E;
      opacity: 1;
    }

    &:focus {
      outline: 0;
    }
  }

  &-icon {
    position: absolute;
    right: 22rem;
    top: 50%;
    transform: translateY(-50%);
    stroke: #226B5E;
    cursor: pointer;

    &-search {
      width: 24rem;
      height: 24rem;
    }

    &-close {
      font-size: 0.5em;
      fill: $brandish-grey;
      stroke: none;

      fill: #226B5E;
    }
  }
}
