.deep-select {
    position: relative;

    &-head {
        background: #F6F6F6;
        border-radius: 100px;
        display: flex;
        align-items: center;
        line-height: 1;
        font-weight: 500;
        font-size: 14rem;
        line-height: 21rem;
        letter-spacing: 0.01em;
        color: #5B5B5B;
        padding: 8rem 38rem 8rem 16rem;
        cursor: pointer;
        position: relative;

        &-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
        }

        &-icon {
            position: absolute;
            top: 50%;
            right: 16rem;
        }
    }

    &-open &-head {
        background: white;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.08);
        border-radius: 7px 7px 0 0;
    }

    &-body {
        position: absolute;
        top: 0;
        left: 0;
        top: 37rem;
        background: #FFFFFF;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.08);
        border-radius: 0 7px;
        padding: 8rem 16rem;
        width: 100%;
        z-index: 10;
    }

    &-menu {
        padding: 0;
        margin: 0;
        list-style: none;

        &-item {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 8rem;
            white-space: nowrap;

            &-name {
                font-weight: 500;
                font-size: 14rem;
                line-height: 21rem;
                letter-spacing: 0.01em;
                color: #5B5B5B;
                white-space: nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
            }

            &:hover &-name {
                font-weight: 600;
                color: #43B88C;
            }
        }
    }
}