@import 'styles/vars';

.separator {
  width: 100%;
  line-height: 3em;
  text-align: center;
  color: $brandish-grey;
  position: relative;
  height: 3em;
  z-index: 0;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: calc(50% - 2em);
    background: currentColor;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: calc(50% - 2em);
    background: currentColor;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &-text {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 0 2em;
    z-index: 1;
  }
}
