@import 'styles/vars';

.separator {
  width: 100%;
  line-height: 3em;
  text-align: center;
  color: $brandish-grey;
  position: relative;
  height: 3em;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &-text {
    position: relative;
    text-align: center;
    display: inline-block;
    background: white;
    padding: 0 2em;
    z-index: 1;
  }
}
