# blacklist everything
/*

# whitelist
#
!/Dockerfile
!/package.json
!/package-lock.json
!/next.config.js
!/jsconfig.json
!/src/
!/.env
!/.env.production
!/.babelrc
!/firebase-service-creds-production.json
!/i18n.json
