# blacklist everything
/*

# whitelist
!/Dockerfile
!/Dockerfile-beta
!/package.json
!/package-lock.json
!/next.config.js
!/jsconfig.json
!/src/
!/.env
!/.env.production
!/.babelrc
!/.firebaserc
!/firebase.json
!/firebase-service-creds-production.json
!/firebase-service-creds-beta.json
!/i18n.json
