@import 'styles/vars';

.button {
  color: white;
  background: black;
  background: #000000;
  border-radius: 35px;
  padding: 0 20rem;
  border: 0;
  line-height: 3em;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;

  &[href]:hover {
    text-decoration: underline !important;

    span {
      text-decoration: inherit;
      line-height: inherit;
    }
  }

  & > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin: 0 2rem;
  }

  &-filter {
    color: white;
    cursor: pointer;
    border: 2px solid $brandish-tar;
    border-radius: 5px;
    padding: 0 11rem;
    line-height: calc(56rem - 4px);
    background: 0;
    color: $brandish-tar;
    font-weight: 500;
    font-size: 14rem;
    letter-spacing: 0.01em;

    &-inner {
      line-height: 1;
    }

    &[data-state="on"] {
      color: white !important;
      background: $brandish-tar;
    }

    &-green {
      color: $brandish-green;
      border: 2px solid  #43B88C;

      &:hover {
        background: rgba( #43B88C, 0.1);
      }
    }

    &-green[data-state="on"] {
      color: white;
      background:  #43B88C;
      border: 2px solid  #43B88C;
    }

    &-grape {
      color: $brandish-grape;
      border: 2px solid $brandish-grape;

      &:hover {
        background: rgba($brandish-grape, 0.1);
      }
    }

    &-grape[data-state="on"] {
      color: white;
      background: $brandish-grape;
      border: 2px solid $brandish-grape;
    }

    &-dark {
      border: 2px solid #282828;

      &:hover {
        background: rgba(#282828, 0.1);
      }
    }

    &-dark[data-state="on"] {
      color: white;
      background: #282828;
      border: 2px solid #282828;
    }
  }

  &-outline {
    cursor: pointer;
    border: 1rem solid $brandish-tar;
    line-height: calc(56rem - 2px);
    border-radius: 5px;
    padding: 0rem 15rem;
    background: 0;
    color: $brandish-tar;
    font-weight: 500;

    &-green {
      color: $brandish-green;
      border: 1px solid $brandish-green;

      &:hover {
        background: rgba($brandish-green, 0.1);
      }
    }

    &-grape {
      color: $brandish-grape;
      border: 1px solid $brandish-grape;

      &:hover {
        background: rgba($brandish-grape, 0.25);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &-next {
    background: #ECECEC;
    border-radius: 5px;
    width: 100%;
    display: block;
    color: $brandish-dark-green;
    cursor: pointer;
    margin-top: 30rem;
    font-size: 14rem;

    &-icon {
      fill: currentColor;
      stroke: currentColor;
      margin-left: 15rem;
    }

    &:hover {
      background: #eeeeee;
    }
  }

  &-prev {
    background: #ECECEC;
    border-radius: 5px;
    width: 100%;
    display: block;
    color: $brandish-dark-green;
    cursor: pointer;
    margin-top: 30rem;
    font-size: 14rem;

    &-icon {
      fill: currentColor;
      stroke: currentColor;
      transform: rotate(180deg);
    }

    &:hover {
      background: #eeeeee;
    }
  }

  &-brandish {
    background: $brandish-dark-green;
    border-radius: 5px;
  }

  &-text {
    color: currentColor;
    background: 0;


    &:hover {
      text-decoration: underline;
    }
  }

  &-try {
    color: white;
    background: $brandish-tar !important;
    line-height: 2em;
    min-width: 50rem;
    padding: 0 20rem;
  }
}
