@import 'styles/vars';

.button {
  color: white;
  background: black;
  background: #000000;
  border-radius: 35px;
  padding: 0 50rem;
  border: 0;
  line-height: 3em;
  display: inline-block;
  white-space: nowrap;

  &[href]:hover {
    text-decoration: underline !important;

    span {
      text-decoration: inherit;
    }
  }

  & > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2rem;
  }


  &-filter {
    color: white;
    cursor: pointer;
    line-height: 51rem;
    border: 2px solid $brandish-tar;
    border-radius: 5px;
    padding: 0 15rem;
    line-height: 51rem;
    background: 0;
    color: $brandish-tar;
    font-weight: 500;

    &[data-state="on"] {
      color: white !important;
      background: $brandish-tar;
    }

    &-green {
      color: $brandish-green;
      border: 2px solid $brandish-green;

      &:hover {
        background: rgba($brandish-green, 0.1);
      }
    }

    &-green[data-state="on"] {
      color: white;
      background: $brandish-green;
      border: 2px solid $brandish-green;
    }

    &-grape {
      color: $brandish-grape;
      border: 2px solid $brandish-grape;

      &:hover {
        background: rgba($brandish-grape, 0.1);
      }
    }

    &-grape[data-state="on"] {
      color: white;
      background: $brandish-grape;
      border: 2px solid $brandish-grape;
    }
  }

  &-outline {
    cursor: pointer;
    line-height: 51rem;
    border: 1px solid $brandish-tar;
    border-radius: 5px;
    padding: 0 15rem;
    line-height: 51rem;
    background: 0;
    color: $brandish-tar;
    font-weight: 500;

    &-green {
      color: $brandish-green;
      border: 1px solid $brandish-green;

      &:hover {
        background: rgba($brandish-green, 0.1);
      }
    }

    &-grape {
      color: $brandish-grape;
      border: 1px solid $brandish-grape;

      &:hover {
        background: rgba($brandish-grape, 0.25);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &-next {
    background: rgba($brandish-grey, 0.25);
    border-radius: 5px;
    width: 100%;
    display: block;
    color: $brandish-dark-green;
    cursor: pointer;

    &-icon {
      fill: currentColor;
      stroke: currentColor;
    }

    &:hover {
      background: rgba($brandish-grey, 0.15);
    }
  }

  &-brandish {
    background: $brandish-dark-green;
    border-radius: 5px;
  }

  &-text {
    color: currentColor;
    background: 0;


    &:hover {
      text-decoration: underline;
    }
  }

  &-try {
    color: white;
    background: $brandish-tar !important;
    line-height: 2em;
    min-width: 50rem;
    padding: 0 20rem;
  }
}
