.flex-table {
  &-head {
    display: flex;
    font-weight: 500;
    font-size: 12rem;
    line-height: 2em;
    color: #9F9F9F;

    & > * {
      flex: 1 1;
      padding: 0 10rem;
    }

    & > *:first-child {
      text-align: left;
      padding-left: 20rem;
    }

    & > *:last-child {
      text-align: center;
    }
  }

  &-body {
  }

  &-body &-row {
    display: flex;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 15rem 0;
    flex-wrap: wrap;
  }

  &-body &-column {
    line-height: 40rem;
    padding: 10rem 10rem 10rem 20rem;
  }

  &-column {
    flex: 1 1;
    position: relative;
    box-sizing: border-box;
  }

  &-empty-message {
    color: #9F9F9F;
    display: flex;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 15rem 0;
    padding: 10rem 20rem;
  }
}
