@import 'styles/vars';

.form {
  position: relative;
  display: flex;

  &-title {
    color: #43B88C;
  }

  &-group {
    flex: 0 1 50%;
    padding-right: 24rem;
  }

  &-expo {
    &-title {

    }

    &-range {
      font-weight: 500;
      font-size: 16rem;
      line-height: 24rem;
      letter-spacing: 0.01em;
      color: #43B88C;
      padding: 8rem 24rem;
      border: 1px solid #E2E2E2;
      border-radius: 3000px;
      display: inline-block;

      * {
        display: inline-block;
      }

      &-divider {
        margin: 0 4rem;
        display: inline-block;
      }
    }

    padding: 0rem 0rem 24rem 24rem;
    border-bottom: 1px solid  #D9D9D9;
  }

  &-input {
    padding: 0rem 0rem 24rem 24rem;


    &-label {

    }

    &-range {
      display: flex;
      align-items: center;

      &-divider-text {
        font-size: 14rem;
        line-height: 21rem;
        letter-spacing: 0.01em;
        color: #878787;
      }
    }

    &-input {
      margin: 0 8rem;
      width: 100rem;

      input {
        line-height: 40rem !important;
      }
    }

    &-checkbox {
      margin-top: 24rem;
      font-weight: 500;
      font-size: 14rem;
      line-height: 21rem;
      color: #494949;
    }
  }

  &-notes {
    flex: 0 1 50%;
    margin-top: 24rem
  }

  &-alert {
    margin-top: 16rem;
  }
}
