@import 'styles/vars';

.salary-int-form {
  position: relative;

  &-title {
    margin-bottom: 30rem
  }

  &-field {
    margin-bottom: 40rem;
  }

  &-notes {
    width: 350rem;
    position: absolute;
    right: 0;
    top: 50rem;

    @media (max-width: 1024px) {
      position: relative;
      top: 20rem;
      width: 100%;
      max-width: 768rem;
    }
  }

  &-slider {
    margin: 100rem 0;
    position: relative;
    max-width: 500rem;

    &-min,
    &-max {
      color: $brandish-grey;
      display: inline-block;
      bottom: -20rem;
      transform: translate(0, 100%);
      position: absolute;
      font-size: 14rem;
    }

    &-min {
      left: -10rem;
      transform: translate(0, 100%);
    }

    &-max {
      right: -10rem;
      transform: translate(0, 100%);
    }

    &-track {
      height: 11rem;
      width: 100%;
      background-color: rgba($brandish-grey, 0.2);
      border-radius: 19px;
    }

    &-marker {
      width: 22rem;
      height: 22rem;
      background: #43B88C;
      border-radius: 50%;
      position: relative;
      box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
      outline: 0;

      &:hover::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgba(#43B88C, 0.15);
        transform: translate(-50%, -50%) scale(2);
        border-radius: 50%;
      }


      &-outside {
        background: $brandish-mustard;

        &:hover::before {
          background: rgba($brandish-mustard, 0.15);
        }
      }

      &-value {
        position: absolute;
        top: -20rem;
        left: 50%;
        transform: translate(-50%, -100%);
        text-align: center;
        background: #43b88b;
        color: white;
        font-size: 16rem;
        line-height: 40rem;
        padding: 0 10rem;
        border-radius: 34px;
        white-space: nowrap;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        outline: 0;
        display: inline-block;
        font-weight: 500;
        min-width: 60rem;

        &::after {
          content: '';
          position: absolute;
          bottom: 1px;
          left: 50%;
          width: 0;
          height: 0;
          transform: translate(-50%, 100%);
          border-style: solid;
          border-width: 15rem 14rem 0 14rem;
          border-color: #43b88b transparent transparent transparent;
        }
      }

      &-outside &-value {
        background: $brandish-mustard;

        &:after {
          border-color: $brandish-mustard transparent transparent transparent;
        }
      }
    }
  }
}
