@import 'styles/vars';

.other-questions-int-form {
  &-questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &-question {
    flex: 0 1 33.33333%;
    margin-bottom: 15rem;
    padding-right: 15rem;
    box-sizing: border-box;

    &-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      color: $brandish-grey;
    }
  }

  &-submit {
    margin-top: 15rem;
  }
}
