@import 'styles/vars';

.html-input-field {
  cursor: auto !important;
  position: relative;

  &-input {
    border-radius: 10px;
    background: rgba($brandish-grey, 0.15);
    padding-right: 50rem !important;
    padding: 10rem 40rem 10rem 10rem !important;
    min-height: 120px !important;
  }
}
