.user-card {
  line-height: 40rem;
  white-space: nowrap;

  &-avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15rem;
    width: 40rem;
    height: 40rem;
  }

  &-title {
    font-weight: 400;
    font-size: 16rem;
    display: inline-block;
    vertical-align: middle;
  }
}
