.time-label {
  white-space: nowrap;
  display: inline-block;
  line-height: inherit;
  border: 1px solid #ECECEC;
  border-radius: 7px;
  padding: 0 16rem;

  & > * {
    vertical-align: middle;
    top: -1px;
    position: relative;
  }

  &-label {
    color: #B7B7B7;
    font-size: 12rem;
    margin-right: 8rem;
    line-height: 1;
    vertical-align: middle;
  }

  &-icon {
    fill: #969696;
    margin-right: 8rem;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
  }

  &-value {
    color: #5B5B5B;
    font-size: 16rem;
    font-weight: 500;
  }
}
