@import 'styles/vars';

.project-form {
  display: flex;
  position: relative;

  &-sidebar {
    flex: 1 1 356rem;
    margin-right: 20rem;
    border-radius: 13px;
    background: white;
    padding: 40rem 40rem 20rem;

    &-widget {
      &-title {
        color: $brandish-grey;
        font-weight: 500;
        font-size: 20rem;
        line-height: 30rem;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-details {
    flex: 1 1 100%;
    background: white;
    border-radius: 13px;
    padding: 40rem;
    position: relative;
  }

  &-details-inner {
    max-width: 600rem;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &-title {
    color: $brandish-tar;
    font-size: 24rem;
    font-weight: 500;
  }

  &-field {
    margin: 20rem 0 40rem;

    &-name input {
      background: rgba($brandish-dark-green, 0.15);
    }

    &-stages {
      &-title {
        color: $brandish-dark-green;
        font-size: 20rem;
        line-height: 30rem;
        font-weight: 500;
      }
    }
  }

  &-submit {
    width: 100%;
    cursor: pointer;
  }

  &-add-stage {
    color: $brandish-dark-green;
    border: 0;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20rem;
    cursor: pointer;
    font-size: 14rem;
  }

  &-template {
    font-size: 14rem;
    color: $brandish-grey;
  }

  &-criteria {
    position: fixed;
    top: 25%;
    transform: scale(0.8) translate(20%, -50%);
    right: 0;
    width: 500rem;
    box-shadow: -3px 5px 33px rgba(0, 0, 0, 0.15);
    z-index: 1;

    @media (max-height: 900px) {
      top: 50%;
    }

    @media (max-width: 1600px) {
      width: 410rem;
      top: 50%;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &-stage-error-report {
    margin-bottom: 20rem;
  }
}
