@import 'styles/vars';

.project-form {
  display: flex;
  position: relative;

  &-details {
    flex: 1 1;
    background: white;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

  }

  &-details-inner {
  }

  &-body {
    padding: 16rem;
  }

  &-title {
    color: $brandish-tar;
    font-size: 24rem;
    font-weight: 500;
  }

  &-field {
    margin: 20rem 0 40rem;

    &-name-edit {
      background: #F6F6F6;
      border: 1px solid #CECECE;
      border-radius: 7px;

      input {
        background: 0 !important;
        border: 0 !important;
      }
    }

    &-name input {
      background:  #F6F6F6;
      border: 1px solid #CECECE;
      font-weight: 500;
      font-size: 20rem;
      border-radius: 7px;
      line-height: 48rem;
      height: 48rem;
    }

    &-name {
      flex: 1 0 286rem;
    }
  }

  &-stager {
    margin-top: 20rem !important;
    max-width: 505rem;
  }

  &-feature-form {
    margin-top: 16rem;
  }

  &-submit {
    cursor: pointer;
    font-weight: 700;
    font-size: 14rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #1E453E;
    border-radius: 7px;
    height: 48rem !important;
    line-height: 48rem !important;

    &-text {
      vertical-align: middle;
      line-height: 1;
    }

    &:hover {
      background: #122B26;
    }
  }

  &-add-stage {
    color: $brandish-dark-green;
    border: 0;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20rem;
    cursor: pointer;
    font-size: 14rem;
  }

  &-template {
    font-size: 14rem;
    color: $brandish-grey;
  }

  &-stage-error-report {
    margin-bottom: 20rem;
  }

  &-head {
    display: flex;
    padding: 16rem 0 16rem 16rem;
    border-bottom: 2px solid #E9E9E9;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
    position: relative;

    & > * {
      margin-right: 16rem;
    }


    &-group {
      display: flex;
      align-items: center;

      & > * {
        margin-right: 16rem;
      }
    }
  }

  &-total-time {
    line-height: 48rem;
    height: 48rem;

    @media (max-width: 540px) {
      display: none;
    }
  }

  &-template {
    margin-bottom: 16rem;
  }

  &-sidebar {
    position: relative;
    background: white;
    z-index: 2;

    &-left {
      flex: 0 0 300rem;
      max-width: 300rem;
      border-right: 2px solid #E9E9E9;
    }

    &-right {
      padding: 16rem 0;
      box-sizing: border-box;
      border-left: 2px solid #E9E9E9;

      & > * {
        width: calc(250rem - 32rem);
        margin: 0 16rem 16rem 16rem;
      }
    }
  }

  &-criteria {
    position: relative;
    padding: 16rem;
    padding: 0;
  }

  &-process {
    min-height: 100vh;
  }

  &-interviewer-select {
    flex: 0 1 320rem;
    font-size: 13px;
    white-space: nowrap;
  }
  
}
