@import 'styles/vars';

.project-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  &-sidebar {
    flex: 0 0 25%;
    margin-right: 20rem;
    border-radius: 13px;
    padding: 12rem;
    box-sizing: border-box;

    &-widget {
      margin-bottom: 20rem;

      &-title {
        color: $brandish-grey;
        font-weight: 500;
        font-size: 14rem;
        line-height: 20rem;
        margin-bottom: 16rem;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-details {
    flex: 1 1 calc(75% - 40rem);
    background: white;
    border-radius: 13px;
    padding: 20rem 20rem 20rem 40rem;
    box-sizing: border-box;
    position: relative;

    h3 {
      color: #B7B7B7;
    }
  }

  &-details-inner {
    max-width: 600rem;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &-title {
    color: $brandish-tar;
    font-size: 24rem;
    font-weight: 500;
  }

  &-field {
    margin: 20rem 0 40rem;

    &-name-edit {
      background: #F6F6F6;
      border: 1px solid #CECECE;
      border-radius: 7px;
      min-width: 350rem;

      input {
        background: 0 !important;
        border: 0 !important;
      }
    }

    &-name input {
      background:  #F6F6F6;
      border: 1px solid #CECECE;
      font-weight: 500;
      font-size: 20rem;
    }

    &-stages {
      margin-top: 20rem;

      &-title {
        color: $brandish-dark-green;
        font-size: 20rem;
        line-height: 30rem;
        font-weight: 500;
      }
    }
  }

  &-stager {
    margin-top: 30rem !important;
  }

  &-submit {
    width: 100%;
    cursor: pointer;
  }

  &-add-stage {
    color: $brandish-dark-green;
    border: 0;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20rem;
    cursor: pointer;
    font-size: 14rem;
  }

  &-template {
    font-size: 14rem;
    color: $brandish-grey;
  }

  &-criteria {
    position: fixed;
    top: 25%;
    transform: scale(0.8) translate(20%, -50%);
    right: 0;
    width: 500rem;
    box-shadow: -3px 5px 33px rgba(0, 0, 0, 0.15);
    z-index: 1;

    @media (max-height: 900px) {
      top: 50%;
    }

    @media (max-width: 1600px) {
      width: 410rem;
      top: 50%;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &-stage-error-report {
    margin-bottom: 20rem;
  }

  &-header {
    background: white;
    flex: 1 1 100%;
    display: flex;
    margin-bottom: 30rem;
    padding: 12rem;
    border-radius: 13px;
    justify-content: space-between;
    line-height: 56rem;

    &-control {
      display: flex;
      align-items: center;
      margin-left: 12rem;
    }

    input, button {
      line-height: inherit;
    }
  }

  &-total-time {
    display: inline-block;
    margin-right: 12rem;
    border: 1px solid #ECECEC;
    border-radius: 7px;
    padding: 0 10rem;

    @media (max-width: 540px) {
      display: none;
    }
  }
}
