@import 'styles/vars';

.template-table {

  table tbody tr[data-company-id] td:first-child {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 15rem;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      background: $brandish-grape;
      border-radius: 5px 0px 0px 5px;
    }
  }

  td {
    position: relative;
  }

  table tbody tr[data-company-id] td:nth-child(2) {
    color: $brandish-grape;

    img {
      position: relative;
      border: 3px solid $brandish-grape;
    }
  }

  table tbody tr[data-company-id="asker"] td:first-child {
    &::before {
      background: $brandish-green;
    }
  }

  table tbody tr[data-company-id="asker"] td:nth-child(2) {
    color: $brandish-green;

    img {
      position: relative;
      border: 3px solid $brandish-green;
    }
  }

  table {
    width: 100% ;
    border-spacing:0px;
    border-collapse:separate;
    border-spacing: 0 20rem;

    td {
    }

    thead {
      margin-bottom: 20rem;
      background: white;
      text-align: left;
      border-radius: 5px;

      th {
        color:  #878787;
        line-height: 18rem;
        font-size: 12rem;
        font-weight: 500;
        line-height: 64rem;
        padding: 0 20rem 0 40rem;
        white-space: nowrap;

        @media (max-width: 1600px) {
          padding: 0 20rem;
        }
      }
    }



    tbody tr {
      margin-bottom: 20rem;
      background: white;
      border-radius: 5px;
      transition: transform 0.250s 0s;

      &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      td {
        padding: 20rem;
        height: 174rem;

        @media (max-width: 1600px) {
          padding: 20rem 15rem;
        }

        &:first-child {
          padding-left: 40rem;
        }
      }
    }
  }

  //@TODO: max-width stager
}
