@import 'styles/vars';

.project-evaluation-criteria {
  border-radius: 9px;
  background: white;
  padding: 20rem;
  font-size: 12rem;

  div {
    max-width: 100%;
  }

  &-title {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 30rem;
    color: #494949;
  }

  svg {
    max-width: 100%;
  }

  &-chart {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: scaleX(-1);
  }

  &-legend {
    margin-bottom: 10rem;
  }

  &-edit {
    font-size: 1em;
  }
}
