@import 'styles/vars';

.project-evaluation-criteria {
  border-radius: 9px;
  background: white;
  padding: 26rem 26rem 26rem 32rem;
  font-size: 12rem;

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  div {
    max-width: 100%;
  }

  &-title {
    font-weight: 500;
    font-size: 20rem;
    line-height: 30rem;
    color: #494949;

    &-warning {
      font-size: 0.9em;

      svg {
        fill: red;
        vertical-align: middle;
      }
    }
  }


  &-chart {
    display: block;
    transform: scaleX(-1);
    margin: 32rem auto;
    width: 140rem;
    height: 140rem;
    position: relative;
    left: -4rem;

    svg {
      display: block;
    }

  }

  &-edit {
    font-size: 1em;
    width: auto;
    margin-top: 8rem;
    padding: 0;
  }
}
