@import 'styles/vars';

.questions-table {
  &-followup-questions {
    padding: 0;
    margin: 0;
  }

  &-expand {
    margin-top: -20rem;
    margin-bottom: -20rem;
    min-height: 174rem;
    display: flex;
    align-items: center;
    background: cyan;
  }

  table tbody tr[data-company-id] td:first-child {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 4rem;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      background: black;
      border-radius: 5px 0px 0px 5px;
    }
  }

  table tbody tr[data-company-id="asker"] td:first-child {
    &::before {
      background: $brandish-green;
    }
  }

  table {
    width: 100% ;
    border-spacing:0px;
    border-collapse:separate;
    border-spacing: 0 20rem;


    td {
      position: relative;
    }

    thead {
      margin-bottom: 20rem;
      background: white;
      text-align: left;
      border-radius: 5px;

      th {
        color:  #878787;
        line-height: 18rem;
        font-size: 12rem;
        font-weight: 500;
        line-height: 64rem;
        padding: 0 20rem;
        white-space: nowrap;

        &:first-child {
          padding-left: 40rem;
        }
      }
    }

    tbody tr {
      margin-bottom: 20rem;
      background: white;
      border-radius: 5px;
      transition: transform 0.250s 0s;
      cursor: pointer;

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      td {
        padding: 20rem;

        &:first-child {
          padding-left: 40rem;
        }

        &:last-child {
          position: relative;
        }
      }
    }
  }

  &-control {
    position: absolute;
    right: 5rem;
    top: 5rem;
  }
}
