.interview-form-timer {
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  color: #969696;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24rem;

  &-title {
    font-weight: 500;
    font-size: 20rem;
    line-height: 30rem;
    color: #5B5B5B;
    margin-bottom: 21rem;
  }

  &-button {
    margin-bottom: 16rem;
    width: 100%;
    line-height: 56rem;
    cursor: pointer;
    background: #226B5E;;
    color: white;

    svg {
      fill: white !important;
    }
   }

  &-active &-button {
      background-color: #ECECEC;
      color: #5B5B5B;

      svg {
          fill: #5B5B5B !important;
          stroke: #ECECEC;
      }
  }


  &-wheel {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    svg {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-progress {
    margin-top: 4rem;
    font-weight: 700;
    font-size: 13rem;
    line-height: 20rem;
    display: flex;
    align-items: center;
    position: relative;

    &-bar {
      height: 20rem;
    }

    &-label {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      text-align: center;
      height: 100%;
      color: #5B5B5B;
      border-radius: 300px;
      
      &-text {
        position: absolute;
        left: 0;
        text-align: center;
        height: 100%;
      }
      

      &-negative {
        color: white;
        z-index: 2;
      }
    }

    &-wrapper {
      margin-top: 20rem;
    }
  }

  &-overtime {
    color: #E77272;
  }
}
