@import 'styles/vars';

.candidate-form {
  border-radius: 36px;
  padding: 45rem 40rem;
  background: white;
  color: black;
  text-align: right;

  &-alert {
    margin-bottom: 10rem;
  }

  &-field {
    margin-bottom: 30rem;
    text-align: left;

    input {
      background: #EDEDED;
      border: 0;
    }
  }

  &-submit {
    width: 100%;
    cursor: pointer;
  }
}
