@import 'styles/vars';

.evaluation-question-explorer {
  &-title {

  }

  &-widget {
    margin: 15rem 0;

    &-header {
      margin: 15rem 0;
    }

    &-body {
      border-radius: 10px;
      border: 1px solid $brandish-grey;
      padding: 5rem;
      max-height: 450rem;
      overflow-y: scroll;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    align-items: flex-end;
  }

  &-company-filter {
    &-button {
      margin-right: 5rem;
    }
  }

  &-live-search {
    width: 100%;
  }

  &-table {
    table {
      width: 100%;
    }
  }
}
