.project-interviews-table {
  &-evaluations {
      display: flex;
      justify-content: left;
      overflow-x: auto;

      &-evaluation {
        margin-right: 50rem;
      }
  }

  &-details {
    padding: 10rem 10rem 10rem 20rem;
    margin-top: 1px solid #D5D5D5;
    max-width: 100%;
    flex: 1 0 100%;

    &-row {
      display: block;
      margin-bottom: 5rem;
      border-top: 1px solid #D5D5D5;
      padding-top: 15rem;
      margin-bottom: 30rem;
    }
  }

  &-actions {
    text-align: center;

    & > * {
      margin: 0 5rem;
      vertical-align: middle;
    }
  }

  &-start-button {
    line-height: inherit;
    max-width: 100%;
    cursor: pointer;
  }
}
