.project-interviews-table {
  &-evaluations {
      display: flex;
      justify-content: left;
      max-width: 100%;
      overflow-x: auto;

      &-evaluation {
        margin-right: 40rem;
      }
  }

  table {
    width: 100% ;
    border-spacing:0px;
    border-collapse:separate;
    border-spacing: 0 20rem;

    td {
    }

    thead {
      margin-bottom: 20rem;
      background: white;
      text-align: left;
      border-radius: 5px;

      th {
        color:  #878787;
        line-height: 18rem;
        font-size: 12rem;
        font-weight: 500;
        line-height: 64rem;
        padding: 0 20rem;

        &:first-child {
          padding-left: 30rem;
        }
      }
    }

    tbody tr {
      margin-bottom: 20rem;
      background: white;
      border-radius: 5px;
      transition: transform 0.250s 0s;

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      td {
        padding: 20rem;
        height: 174rem;

        &:first-child {
          padding-left: 30rem;
        }

        &:last-child {
          position: relative;
        }
      }
    }
  }

  &-control {
    position: absolute;
    right: 5rem;
    top: 5rem;
  }
}
