@import 'styles/vars';

.file-manager {
  table {
    width: 100%;

    th {
      text-align: left;
      background: $brandish-grey;
      color: white;
      font-weight: 500;
    }
  }

  &-link {
      color: $brandish-tar;
      text-decoration: underline;
  }

   &-thumb {
     width: 32px;
     height: 32px;
     object-fit: cover;
     object-position: center center;
   }
}
