.profile-page {
  padding: 20rem 0;

  &-tabs {
    padding-top: 40rem;
  }

  &-tab-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
    padding-left: 50rem;
  }

  &-tab-panel {
    margin: 0;
    background: white;
    border-left:  1px solid #aaa;
  }

  &-form {
    max-width: 420rem;
    margin-left: auto;
    margin-right: auto;
    padding: 40rem 0;

    &-ra {
      position: relative;
      max-width: 100%;
      font-size: 12px;
      padding: 0;
      margin-left: 0rem;
      margin-right: 0rem;
      height: 550rem;
    }
  }
}
