.projects-page {
  padding: 40rem 0;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38rem 0;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin: 10rem 0;

      & > * {
        margin-bottom: 20rem;
      }
    }
  }

  &-table {
    overflow-x: auto;
    margin-bottom: 20rem;
  }
}
