@import 'styles/vars';


.project-compare-page {
  padding: 50rem 0rem;
  position: relative;

  &-title {
    font-weight: 600;
    font-size: 32rem;
    line-height: 48rem;
    color: #494949;

    &-edit-link {
      color: $brandish-green;
      font-size: 14rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-head {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 50rem;
    position: relative;
    line-height: 48rem;
  }

  &-back {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 34rem;
    line-height: 24rem;

    &-icon {
      margin-right: 14rem;
      position: absolute;
      font-size: 20rem;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &-table {
    background: white;
  }
}
