@import 'styles/vars';


.project-overview-page {
  padding: 40rem 0rem;
  position: relative;
  display: flex;

  &-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #494949;

    &-edit-link {
      color: $brandish-green;
      font-size: 14rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-overview {
    position: relative;

    &-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20rem;
    }

    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 40rem;

    @media (max-width: 1024px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &-sidebar {
    flex: 0 0 25%;
    max-width: 25%;

    @media (max-width: 1024px) {
      display: none;
    }
    background: white;
    padding: 15rem;
    border-radius: 5px;
  }

  &-evaluation-criteria {
    padding: 0;
  }

  &-interviewers {
    color: $brandish-tar;
    margin-top: 20rem;

    &-title {
        font-size: 18rem;
        font-weight: 500;
        line-height: 30rem;
    }

    &-list {
      margin: 0;
      padding-left: 20rem;
      color: #9F9F9F;
      font-size: 12rem;
      margin-top: 10rem;

      &-item {
        background: #FFFFFF;
        border-radius: 5px;
        line-height: 2em;
        padding: 0rem 10rem;
        margin-bottom: 10rem;
        box-sizing: border-box;
      }
    }
  }

  &-interviews {
    &-add-candidate {
      cursor: pointer;
      line-height: 2em;
      vertical-align: middle;
    }

    &-table {
      margin: 30rem 0 10rem;
      width: 100%;
    }
  }
}
