.questions-page {
  padding: 40rem 0;
  position: relative;
  
  &-filter {
    &-company{
      margin-bottom: 25rem;

      &-button {
        margin-right: 5rem;
      }
    }

    &-criteria {
      margin: 5rem 0;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38rem 0;

    & > {
      flex: 0;
    }
  }

  &-table {

  }
}
