.templates-page {
  padding: 20rem 0;
  position: relative;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38rem 0;

    & > {
      flex: 0;
    }
  }

  &-table {

  }
}
