.templates-page {
  padding: 94rem 0 87rem;

  @media (max-width: 768px) {
    padding: 40rem 0;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 56rem;
    margin-bottom: 48rem;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      
      & > * {
        margin-bottom: 20rem !important;
      }
    }
  }

  &-filter-company {
    &-button {
      margin-right: 8rem;

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &-search {
    flex: 1;
    margin: 0 48rem;
  }

  &-create-button {
    width: 206rem;
  }

  &-table {
    overflow-x: auto;
    margin-bottom: 20rem;
  }
}
