@import "styles/vars";

.hero-section {
  color: white;
  background: url('./assets/images/hero.jpg'), linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  background-size: cover;
  background-position: left center;
  height: 100vh;
  min-height: 500rem;
  max-height: 960rem;
  position: relative;

  @media (max-width: 1024px) {
      background: url('./assets/images/hero-mob.jpg'), linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
      background-position: center center;
  }

  &-inner {
    margin-left: auto;
    margin-right: auto;
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 15%;

    @media (max-width: 768px) {
          align-items: center;
          text-align: center;
          justify-content: flex-end;
          padding-bottom: 25%;
    }
  }

  &-title {
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    span {
      display: block;
      font-weight: 500;
      font-size: 2.6em;
      line-height: 1.25;
      letter-spacing: 0.015em;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 2.2em;
        line-height: 1.1;
      }
    }
  }

  &-summary {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    max-width: 650rem;
    margin-bottom: 30rem;

  }

  &-cta {
    background: $brand-green;
    line-height: 4em;
    width: 250rem;
    font-weight: 500;
    font-size: 1em;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-align: center;
    white-space: nowrap;
  }
}
