@import 'reset';
@import 'fonts';
@import '@splidejs/splide/dist/css/splide.min.css';
@import 'draft-js/dist/Draft.css';
@import 'format';
@import './jodit-theme';
@import './admin';
@import 'react-popper-tooltip/dist/styles.css';
@import './components/react-toggle';

// @import 'debug';

:root {
  font-size: calc(0.55 * 100vw / 1440);
  --container-width: 60%;

  @media (max-width: 1920px) {
    font-size: calc(0.75 * 100vw / 1440);
    --container-width: 70%;
  }

  @media (max-width: 1600px) {
    font-size: calc(0.85 * 100vw / 1440);
    --container-width: 75%;
  }

  @media (max-width: 1440px) {
    font-size: calc(1 * 100vw / 1440);
    --container-width: 1310rem;
  }

  @media (max-width: 1200px) {
    --container-width: 90%;
    font-size: calc(1 * 100vw / 1440);
  }

  @media (max-width: 1024px) {
    font-size: calc(1.25 * 100vw / 1440);
    --container-width: 90%;
  }

  @media (max-width: 768px) {
    font-size: calc(1.5 * 100vw / 1440);
  }

  @media (max-width: 540px) {
    font-size: calc(2 * 100vw / 1440);
    --container-width: calc(100% - 40px);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16rem;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: #F7F7F7;

  @media (max-width: 1024px) {
    font-size: 18rem;
  }

  @media (max-width: 768px) {
    font-size: 20rem;
  }

  @media (max-width: 540px) {
    font-size: 22rem;
  }

  &.modal {
    overflow: hidden;
  }
}

.splide__slide.is-visible.is-active {
  transition: transform 0.100s 0s;
  transform:scale(1.1);

  div > img {
    border: 4rem solid black;
    padding: 5rem;
    transform:scale(1.1);
    margin-bottom: 30rem;

    @media (max-width: 1024px) {
      transform:scale(1.1);
    }
  }
}

.form-error {
  color: red;
}

.form-success {
  color: green;
}

.form-help {
  color: grey;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

.beta-label {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: orange;
  color: white;
  padding: 2px 4px;
  border-radius: 0px 4px 0px 0px;
}

.tooltip-arrow {
  margin-top: -10rem !important;
  height: 1em;
  width: 1em;
}

.tooltip-container {
  padding: 10rem;
  border-radius: 7px;
  font-size: 12rem;
  line-height: 1.2;
  border: 0;
  max-width: 420rem;
}


.tooltip-container[data-popper-placement*="bottom"] .tooltip-arrow::before {
    border-width: 0 10rem 12rem 10rem;
    border-color: transparent transparent white transparent;
    position: absolute;
}

.tooltip-container[data-popper-placement*="bottom"] .tooltip-arrow::after {
    border-color: transparent transparent var(--tooltipBackground) transparent;
    border-width: 0 11rem 11rem 11rem;
    display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.firebase-emulator-warning {
  width: 10px !important;
  height: 10px !important;
  font-size: 0;
  background: red !important;
  display: block;
  top: 0;
}

.maintenence-warning {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: red;
  width: 250px;
  border: 1px solid red;
  padding: 16rem;
  font-size: 18rem;
}
