@import 'reset';
@import 'fonts';
@import '@splidejs/splide/dist/css/splide.min.css';
@import 'format';
// @import 'debug';

:root {
  font-size: calc(0.70 * 100vw / 1440);
  --container-width: 80%;

  @media (max-width: 1920px) {
    font-size: calc(0.80 * 100vw / 1440);
  }

  @media (max-width: 1600px) {
    font-size: calc(0.90 * 100vw / 1440);
  }

  @media (max-width: 1440px) {
    font-size: calc(1 * 100vw / 1440);
  }

  @media (max-width: 1200px) {
    font-size: calc(1.1 * 100vw / 1440);
  }

  @media (max-width: 1024px) {
    font-size: calc(1.25 * 100vw / 1440);
    --container-width: 90%;
  }

  @media (max-width: 768px) {
    font-size: calc(1.5 * 100vw / 1440);
  }

  @media (max-width: 540px) {
    font-size: calc(2 * 100vw / 1440);
    --container-width: calc(100% - 40px);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16rem;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: #F7F7F7;

  @media (max-width: 1024px) {
    font-size: 18rem;
  }

  @media (max-width: 768px) {
    font-size: 20rem;
  }

  @media (max-width: 540px) {
    font-size: 22rem;
  }
}

.splide__slide.is-visible.is-active {
  transition: transform 0.100s 0s;
  transform:scale(1.1);

  div > img {
    border: 4rem solid black;
    padding: 5rem;
    transform:scale(1.1);
    margin-bottom: 30rem;

    @media (max-width: 1024px) {
      transform:scale(1.1);
    }
  }
}

.form-error {
  color: red;
}

.form-success {
  color: green;
}
