$brand-green: #40b08c;
$brand-orange: #daa58d;
$brand-dark-green: #1d4741;
$brandish-green: #226B5E;
$brandish-dark-green: #1E453E;
$brandish-mustard: #E5C673;
$brandish-grey: #B7B7B7;
$brandish-green: #43B88C;
$brandish-forest-green: #226B5E;
$brandish-caramel: #DA7E4B;
$brandish-tar: #494949;
$brandish-grape: #E5AE90;
