@import 'styles/vars';

.candidate-questions-int-form {
  &-title {
    margin: 10rem 0 20rem;
    color: #B7B7B7;
    font-weight: 500;
    font-size: 20rem;
    line-height: 30rem;
  }

  &-desc {
    font-weight: 400;
    font-size: 14rem;
    line-height: 1.5;
    color: #5B5B5B;
  }

}
