@import 'styles/vars';

.logo {
  &-image {
    max-width: 180rem;
    max-height: 25rem;
    object-fit: contain;
    object-position: left center;

    @media (max-width: 768px) {
      max-height: 60rem;
    }
  }
}
