.error-box {
  padding: 20rem;
  border: 2px dashed red;
  text-align: center;
  background: rgba(255, 0, 0, 0.15);

  ul {
    padding: 0;
    list-style: none;

    li {
      font-weight: 500;
      margin-bottom: 10rem;
    }
  }
}
