@import 'styles/vars';

.evaluation-score {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  white-space: nowrap;

  &-title {
    display: block;
    color: $brandish-grey;
  }

  &-stars {
    white-space: nowrap;
  }
}
