.modal {

  & > div {
    top: 50rem;
    padding: 40rem;
    transform: translate(-50%, 0);
    overflow-x: auto;
    width: 90% !important;
    max-width: 1200px;

    @media (max-width: 768px) {
      border-radius: 20px;
    }
  }
}
