@import 'styles/vars';

.feature-label {
  cursor: drag;
  display: inline-block;
  width: 100%;
  padding: 0 32rem 0 16rem;
  box-sizing: border-box;
  min-width: 100%;
  font-weight: 500;
  background: rgba($brandish-tar, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  color: $brandish-tar;
  white-space: nowrap;
  position: relative;

  &-other {}

  &-evaluation {
    background: rgba($brandish-dark-green, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    color: $brandish-forest-green;
  }

  &-attraction {
    background: rgba($brandish-green, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    color: $brandish-green;
  }

  &-icon {
    position: absolute;
    right: 16rem;
    top: 50%;
    transform: translateY(-50%);
    width: 8rem;
    fill: currentColor
  }

  &-drag {
    background: white;
  }
}
