@import 'styles/vars';

.feature-label {
  cursor: drag;
  display: inline-block;
  line-height: 56rem;
  padding: 0 16rem;
  min-width: 100%;
  font-weight: 500;
  font-size: 14rem;
  background: rgba($brandish-tar, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  color: $brandish-tar;
  white-space: nowrap;
  position: relative;

  &-other {}

  &-evaluation {
    background: rgba($brandish-dark-green, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    color: $brandish-forest-green;
  }

  &-attraction {
    background: rgba($brandish-green, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    color: $brandish-green;
  }

  &-icon {
    position: absolute;
    right: 16rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &-stager {
    background: #F6F6F6;
    color: #5B5B5B;
    border: 1px solid #CECECE;
    font-weight: 500;
  }

  &-drag {
    background: white;
  }
}
