@import 'styles/vars';

.contact-section {
  color: $brand-dark-green;

  @media (max-width: 768px) {
    max-height: unset;
    height: auto;
  }

  &-inner {
    margin: 0px auto;
    padding: 100px 0;
    width: var(--container-width);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 95rem;
    height: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      padding-left: 0px;
      padding: 50rem 0;
    }
  }

  &-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translate(25%, -50%);
    font-weight: 400;
    font-size: 1.7em;
    line-height: 1;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    @media (max-width: 768px) {
      transform: unset;
      position: relative;
      top: auto;
      left: auto;
      align-items: center;
      margin-bottom: 30rem;
      font-size: 1.7em;
    }
  }

  &-form {
    margin-left: 82rem;
    margin-right: 100rem;
    flex: 0 0 502rem;
    max-width: 100%;
    box-shadow: 0px 10rem 30rem rgba(4, 4, 4, 0.13);
    border-radius: 40px;

    &:hover {
      // transform: scale(1.025);
      // transition: transform 0.250s 0s;
    }

    @media (max-width: 1024px) {
      margin-left: 40rem;
    }

    @media (max-width: 768px) {
      flex: 0 1;
      margin-right: 0;
      margin-left: 0;
      margin-top: 50rem;
    }
  }
  &-info {
    flex: 0 1 420rem;
    padding: 5rem;
    position: relative;
    top: 5rem;

    @media (max-width: 1200px) {
      display: none;
    }

    &-title {
      font-weight: 400;
      font-size: 2em;
      line-height: 60rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.015em;
      text-transform: uppercase;
      margin-bottom: 25rem;
    }
  }
}
