@import 'styles/vars';

.salary-stage-form {

  &-range {
    &-input-wrapper {
      display: flex;
      align-items: center;
      margin-left: -8rem;
    }

    &-divider-text {
      font-weight: 500;
      font-size: 14rem;
      line-height: 21rem;
      letter-spacing: 0.01em;
      color: #878787;
      margin: 0 8rem;
    }

    &-input {
      width: 100rem;

      input {
        line-height: 40rem !important;
      }
    }
  }
}
