@import 'styles/vars';

.form {
  &-head {
    display: flex;

      & > * {
          flex: 0;
      }

      align-items: center;
      margin-bottom: 16rem;
  }

  &-title {
      font-weight: 600;
      font-size: 24rem;
      line-height: 1;
      color: #282828;
      white-space: nowrap;
  }

  &-timer {
      line-height: 32rem;
      margin-left: 24rem;
  }

  &-desc {
    color: $brandish-dark-green;
    padding: 12rem 24rem 12rem 40rem;
    color: #5B5B5B;
    position: relative;
    display: inline-block;
    background: #F7F7F7;
    border-radius: 5px;

    &-icon {
      position: absolute;
      top: 50%;
      left: 12rem;
      transform: translate(0, -50%);
    }

    &-text {
      font-weight: 400;
      font-size: 14rem;
      line-height: 21rem;
    }
  }

  &-note {
    margin-top: 24rem;
    width: 100%;

    &-label {
      margin-bottom: 16rem;
      display: inline-block;
    }

    &-input {
      width: 100%;
    }
  }
}
