@import 'styles/vars';

.question-score-board-vertical {
  display: flex;
  flex-direction: column;
  font-size: 14rem;


  &-head {
    margin-bottom: 20rem;
    border-radius: 6px;
    background: white;
    text-align: center;
    padding: 10rem;

    &-title {
      font-size: 24rem;
      line-height: 45rem;
      font-weight: 600;
    }

    &-name {
      display: block;
      font-size: 14rem;
      line-height: 24rem;
    }
  }

  &-active &-head {
    background: $brandish-green;
    color: white;
  }

  &-head {
    cursor: pointer;

    &:hover {
      background: $brandish-green;
      color: white;
    }
  }

  &-steps {
    margin: 0;
    padding: 0;
    list-style: none;

    &-step {
      margin-bottom: 20rem;
      padding: 20rem;
      background: white;
      border-radius: 5px;

      ul, ol {
        padding-left: 10rem;

        li {
          margin-bottom: 5rem;
        }
      }

      &:hover,
      &-active {
        cursor: pointer;
        color: white;
        background: $brandish-green;
      }

      &-active {
        cursor: pointer !important;
        background: $brandish-green !important;
        color: white !important;
      }
    }
  }

  &-lock &-steps-step:hover {
    cursor: default;
    background: white;
    color: inherit;
  }
}
