@import 'styles/vars';

.input-field {
  position: relative;

  &-error {
    color: red;
  }

  &-label {
    margin-bottom: 10rem;
    display: block;
  }

  &-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15rem;
    font-size: 25rem;
  }

  &-with-icon &-input {
    padding-left: 65rem;
  }

  &-with-icon &-wrapper {
    &::after {
      content: '';
      position: absolute;
      height: 2em;
      width: 1px;
      background: $brandish-grey;
      top: 50%;
      transform: translateY(-50%);
      left: 50rem;
    }
  }

  &-wrapper {
    position: relative;
  }
}
