@import 'styles/vars';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  overflow-y: auto;

  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 40px;
    max-width: calc(100% - 60px);
  }

  &-small &-content {
    width: 450px;
  }

  &-medium &-content {
    width: 540px;
  }

  &-large &-content {
    width: 80%;

  }

  &-close {
    position: absolute;
    right: 20rem;;
    top: 20rem;
    background: 0;
    border: 0;
    cursor: pointer;

    &-icon {
      fill: $brandish-grey;
    }
  }
}
