@import "styles/vars";

.project-form-interviewers {
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      width: 100%;
      display: flex;
      width: 200rem;

      &-name {
        display: block;
        flex: 1;
      }
    }
  }

  &-autocomplete {
    margin: 20rem 0;
    max-width: 400rem;

    input {
      color: $brandish-tar !important;
      border: 1px solid  #CECECE;
    }

    svg {
      stroke: $brandish-grey !important;
    }
  }
}
