@import 'styles/vars';

.template-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;


  &-sidebar {
    flex: 0 0 290rem;
    margin-right: 30rem;
    box-sizing: border-box;
    overflow-x: hidden;

    &-widget {
      margin-bottom: 24rem;
      font-size: 16rem;
      width: 100%;

      &-title {
        color: $brandish-grey;
        font-weight: 500;
        font-size: 14rem;
        margin-bottom: 20rem;
        line-height: 1;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-details {
    flex: 1;
    background: white;
    border-radius: 13px;
    padding: 40rem;
    box-sizing: border-box;
    position: relative;
    margin-top: 32rem;

    h3 {
      color: #B7B7B7;
      font-size: 20rem;
      line-height: 30rem;
      font-weight: 500;
      margin: 0;
    }
  }

  &-details-inner {
    max-width: 505rem;
  }

  &-title {
    color: $brandish-tar;
    font-size: 24rem;
    font-weight: 500;
  }

  &-field {
    margin: 20rem 0 40rem;

    &-name-edit {
      background: #F6F6F6;
      border: 1px solid #CECECE;
      border-radius: 7px;
      min-width: 350rem;

      input {
        background: 0 !important;
        border: 0 !important;
      }
    }

    &-name input {
      background:  #F6F6F6;
      border: 1px solid #CECECE;
      font-weight: 500;
      font-size: 20rem;
      border-radius: 7px;
      line-height: calc(56rem - 2rem);
      height: calc(56rem - 2rem);
    }

    &-name {
      width: 360rem;
    }

    &-stages {


    }
  }

  &-stager {
    margin-top: 20rem !important;

    &-feature-form {
      margin-top: 24rem;
    }
  }

  &-submit {
    width: 100%;
    cursor: pointer;
  }

  &-add-stage {
    color: $brandish-dark-green;
    border: 0;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20rem;
    cursor: pointer;
    font-size: 14rem;
  }

  &-template {
    font-size: 14rem;
    color: $brandish-grey;
  }

  &-criteria {
    position: fixed;
    bottom: 100rem;
    right: 0;
    box-shadow: -3px 5px 33px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 305rem;
    z-index: 10;
    max-height: calc(100vh - 320rem);
    overflow-y: auto;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &-stage-error-report {
    margin-bottom: 20rem;
  }

  &-header {
    background: white;
    flex: 1 1 100%;
    display: flex;
    margin-bottom: 40rem;
    padding: 12rem;
    border-radius: 13px;
    justify-content: space-between;
    line-height: 56rem;

    &-control {
      display: flex;
      align-items: center;
      margin-left: 12rem;
    }

    input, button {
      line-height: inherit;
    }
  }

  &-total-time {
    display: inline-block;
    margin-right: 12rem;
    border: 1px solid #ECECEC;
    border-radius: 7px;
    padding: 0 24rem;

    @media (max-width: 540px) {
      display: none;
    }
  }
}
