.preloader {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  border-radius: inherit;

  &-image {
    display: inline-block;
    width: 2em;
    height: 2em;
  }
}
