@import 'styles/vars';

.range-question-int-form {
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.5;
  color: #5B5B5B;

  &-title {
    font-weight: 500;
    font-size: 20rem;
    line-height: 140%;
    color: #5B5B5B;
  }

  &-desc {
    font-size: 14rem;
    margin: 5rem 0;

    ul, ul {
      padding-left: 30rem;
    }

    p > br:first-child {
      display: none;
    }
  }
  
  &-slider {
    margin-top: 70rem;
    font-size: 14rem;
    padding: 0 20rem 0 35rem;
    margin-left: auto;
    margin-right: auto;

    &-track {
      height: 10rem;
      width: 100%;
      background-color: rgba($brandish-grey, 0.2);
      border-radius: 19px;
    }

    &-marker {
      width: 22rem;
      height: 22rem;
      background: #43B88C;
      border-radius: 50%;
      position: relative;
      box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
      outline: 0;

      &:hover::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgba(#43B88C, 0.15);
        transform: translate(-50%, -50%) scale(2);
        border-radius: 50%;
      }

      &-value {
        position: absolute;
        top: -20rem;
        left: 50%;
        min-width: 60rem;
        transform: translate(-50%, -100%);
        text-align: center;
        background: #43b88b;
        color: white;
        line-height: 2em;
        padding: 0 10rem;
        border-radius: 34px;
        white-space: nowrap;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        outline: 0;
        display: inline-block;
        font-weight: 500;

        &::after {
          content: '';
          position: absolute;
          bottom: 1px;
          left: 50%;
          width: 0;
          height: 0;
          transform: translate(-50%, 100%);
          border-style: solid;
          border-width: 15rem 14rem 0 14rem;
          border-color: #43b88b transparent transparent transparent;
        }
      }
    }
  }
}
