@import 'styles/vars';

.project-form-stager {
  display: block;
  padding: 0;
  list-style: none;
  margin: 0;

  &-item {
    cursor: grab;
    margin-bottom: 20rem;

    &-title {
        font-size: 14rem;
        display: block;
        color: #5B5B5B;
        font-weight: 500;
        line-height: 21rem;
        margin: 10rem 0;
    }

    &-active &-title {
      text-decoration: underline;
    }

    &-active &-feature {
      background: rgba($brandish-dark-green, 0.15);
    }

    &:hover &-title {
      text-decoration: underline;
    }

    &-empty &-title {
      color: $brandish-grey;
    }

    &-body {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &-placeholder {
      flex: 0 0 500rem;
    }

    &-feature {
      width: 100%;
    }

    &-control {
      position: relative;
      text-align: left;

      &-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 60rem;

        & > * {
          margin-bottom: 2rem;
        }
      }

      &-info {
        color: #B7B7B7;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        font-size: 14rem;
      }

      &-actions &-info {

      }
    }

    &-empty {
      cursor: default;
    }
  }

  &-feature-form {
    margin: 20rem 0;
  }

  &-sidebar {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
