@import 'styles/vars';

.project-form-stager {
  display: block;
  padding: 0;
  list-style: none;
  margin: 0;

  &-item {
    cursor: grab;

    &-title {
        font-size: 14rem;
        color: $brandish-dark-green;
        display: block;
    }

    &-active &-title {
      text-decoration: underline;
    }

    &:hover &-title {
      text-decoration: underline;
    }

    &-empty &-title {
      color: $brandish-grey;
    }

    &-body {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &-placeholder {
      flex: 1 1 100%;
    }

    &-feature {
      width: 100%;
    }

    &-control {
      flex: 0 0 48rem;
      padding-left: 20rem;

      &-button {
        background: 0;
        border: 0;
        cursor: pointer;

        &:hover {
          cursor: pointer;
        }

        &:hover &-icon {
          stroke: red;
        }
      }
    }

    &-empty {
      cursor: default;
    }
  }
}
