@import 'styles/vars';

.criteria-option-input-field {
  &-autocomplete {
    margin: 10rem 0;

    input {
      width: 100%;
    }
  }

  &-button {

  }

  &-card {
    margin: 10rem 0;
    text-transform: uppercase;
    display: flex;
    &-label {
      &-name {
        font-size: 1.5em;
        color: $brandish-green;
      }

      &-desc {
        color: $brandish-grey;
        font-size: 14rem;
      }
    }

  }
}
