.modal {
  overflow-y: auto;

  & > div {
    padding: 40rem;
    width: 100%;
    max-width: 768px;
    max-height: 80vh;
    overflow-y: scroll;

    @media (max-width: 768px) {
      border-radius: 20px;
    }
  }
}
