@import "styles/vars";

.navbar {
  height: 100rem;
  width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(4, 4, 4, 0.04);
  position: absolute;
  color: black;
  background: white;

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s 0s ease-out;
  }

  &-offset {
    top: -100rem;
    transition: all 0.25s 0s;
  }

  z-index: 10;

  &-inner {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &-menu {
    height: 100%;
    position: relative;
    left: -40rem;

    @media (max-width: 768px) {
      display: none;
      left: 0px;
    }
  }

  &.mobile {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(255, 255, 255);
      padding: 20rem 20rem 40rem;
      transition: all 0s 0s;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 20px;
  }

  &.mobile &-menu {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin-top: 200rem;
    order: 1;
  }

  &-toggle {
    display: none;
    order: 2;
    font-size: 1.5em;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &.mobile &-toggle {
    font-size: 2em;
  }

  &.mobile &-inner {
    flex-direction: column;
  }

  &-session {
    background: white;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-login-link {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &-control {
    flex: 0;
    display: flex;
    align-items: center;
  }

  &-language-switcher {
    margin-right: 8rem;
  }
}
