@import 'styles/vars';

.stager {
  max-width: 360rem;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5em;

  &-inner {
      display: flex;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-width: 90rem;
    color: $brandish-grey;
    min-height: 0;
    margin-top: 4em;

    &-mustard::after,
    &-attraction::after  {
      background: $brandish-mustard  !important;
    }

    &-mustard &-number,
    &-attraction &-number {
      background: $brandish-mustard  !important;
    }

    &-green::after,
    &-evaluation::after {
      background: $brandish-dark-green !important;
    }

    &-green &-number,
    &-evaluation &-number {
      background: $brandish-dark-green;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: $brandish-grey;
      position: absolute;
      transform: translateX(50%);
    }

    &:last-child::after {
      width: 0rem;
    }

    &-label {
      position: absolute;
      display: inline-block;
      top: 0%;
      transform: translateY(-100%);
      font-weight: 500;
      font-size: 12rem;
      line-height: 14rem;
      color: $brandish-dark-green;
      line-height: 1.5;
    }

    &-number {
      width: 26rem;
      height: 26rem;
      border-radius: 50%;
      background: $brandish-grey;
      color: white;
      display: inline-block;
      position: relative;
      z-index: 1;
      border: 4px solid white;
      box-sizing: content-box;
    }
  }
}
