@import 'styles/vars';

.stager {
  overflow-x: auto;
  display: flex;

  &-inner {
      display: flex;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 80rem;
    color: $brandish-grey;
    min-height: 0;
    padding: 24rem 0;
    margin-right: 2rem;
    color: #BBC1C4;

    &-attraction  {
      color: #43B88C;
    }

    &-evaluation::after {
      color: #297466;
    }

    &-green,
    &-evaluation {
      color: $brandish-dark-green;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      left: 0;
      top: 50%;
      height: 4rem;
      background: currentColor;
      position: absolute;
      transform: translateY(-50%);
      border-radius: 30px;
    }


    &-label {
      position: absolute;
      display: inline-block;
      font-weight: 500;
      font-size: 12rem;
      line-height: 1;
      color:  #878787;
      top: calc(50% + 30rem);
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &:nth-child(2n+1) &-label {
      top: calc(50% - 30rem);
    }

    &-circle {
      width: 32rem;
      height: 32rem;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      z-index: 1;
      background:white;
      border: 3rem solid currentColor;
      box-sizing: content-box;
      line-height: 32rem;
    }

    &-value {
      font-weight: 500;
      font-size: 12rem;
      color: #5B5B5B;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
