.candidate-choose-form {
    &-alert {

    }

    &-list {
        list-style: none;
        margin-bottom: 20rem;
    }

    &-list-item {
            
    }

    &-submit {
        width: 100%;
    }
}