@import 'styles/vars';

.upsell-section {
  text-align: right;

  &-inner {
    width: var(--container-width);
    margin: 100rem auto;
  }

  &-title {
    font-size: 2em;
    line-height: 60rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    max-width: 500rem;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
  }

  &-cards {
    display: flex;
    margin: 50rem 0;
    text-align: left;
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      max-width: 90%;
    }

    & > * {
      flex: 1 1 50%;
      margin: 10rem;
      max-width: calc(50% - 20rem);

      @media (max-width: 1024px) {
          flex: 1 1 100%;
          max-width: 100%;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &-link-container {
    padding: 20rem;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &-card {
    transition: transform 0.25s 0s;

    &:hover {
      transform: scale(1.025);
    }

    @media (max-width: 1024px) {
      // margin: 15px 0px;
    }

    @media (max-width: 768px) {
      align-items: center;
    }

    &:nth-child(2n) {
      background: $brand-green;
      color: white;
    }
  }

  &-cta {
    font-size: 1.5em;
    line-height: 36rem;
    color: $brand-green;

    @media (max-width: 1024px) {
      font-size: 1.75em;
    }

    &:hover {
      text-decoration: underline;
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      fill: $brand-green;
    }
  }
}
