@import 'styles/vars';

.evaluation-question-int-form {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  color: $brandish-tar;
  align-items: flex-start;

  &-title {
    font-weight: 500;
    font-size: 20rem;
    line-height: 30rem;
    color: #B7B7B7;
    margin-bottom: 20rem;
  }

  &-formulation {
    flex: 1 0 50%;
    padding-right: 15rem;
  }

  &-notes {
    flex: 1 0 50%;
  }

  &-criteria {
    font-weight: 500;
    margin-bottom: 10rem;

    &-name {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #43B88C;
    }

    &-icon {
      margin-left: 5rem;

      svg {
        fill: #B7B7B7;;
        vertical-align: middle;
      }
    }
  }

  &-question {
    &-name {
      font-weight: 500;
      font-size: 20rem;
      line-height: 140%;
      color: #5B5B5B;

      &-icon {
        vertical-align: middle;
        fill: #43B88C;
        margin-right: 10rem;
        font-size: 24rem;
        top: -1px;
        position: relative;
      }
    }

    &-desc {
      margin-top: 10rem;
      font-size: 14rem;
      color: $brandish-grey;
    }

    //Followup question list
    &-questions {
      font-size: 16rem;
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 15rem;
      padding-left: 20rem;;

      &-question {
        padding-left: 1em;
        position: relative;
        line-height: 2em;

        &::before {
          content: '';
          display: block;
          width: 0.3em;
          height: 0.3em;
          border-radius: 50%;
          background: $brandish-grey;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &-scoring-board {
    width: 100%;
    margin: 20rem 0 0;
  }

  &-alert {
    margin-top: 15rem;
    width: 100%;
  }

  &-flex-row {
    & > * { margin:  0;}
    width: 100%;
  }
}
