@import "styles/vars";

.footer {
  padding: 40rem 0 30rem;
  font-size: 0.9em;
  background: white;
  margin-top: 100rem;

  &-quick-button {
    float: left;
    margin-left: 10rem;
  }

  &-inner {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &-company {
    width: 600rem;
    font-weight: 300;
    align-items: center;
    letter-spacing: 0.015em;
    max-width: 100%;

    display: flex;

    &-logo {
      display: inline-block;

      img {
        object-position: center center;
      }
    }

    &-text {
      margin: 15rem 0;

      @media (max-width: 1024px) {
        margin: 35rem 0;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-contact-widget {
    padding-right: 45rem;
    @media (max-width: 1024px) {
      padding-right: 0;
    }

    &-title {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  &-links {
    display: flex;
    flex: 1;
    justify-content: center;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin: 20rem 0;
    }

    a {
      white-space: nowrap;
      margin-right: 30rem;

      @media (max-width: 1024px) {
        margin-right: 0px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-copyright {
    display: block;
    flex: 0;
    opacity: 0.5;
  }



  &-footer {
    flex: 1 0 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    line-height: 2em;
    font-size: 0.9em;


    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
