.evaluation-question-stage-form {


  &-questions {

    &-list {

      &-item {
        display: flex;

        &-name {
          flex: 1;
        }

        &-remove {
          flex: 0;
        }
      }
    }
  }
}
