@import 'styles/vars';

.stage-feature-placeholder {
  position: relative;
  height: 62rem;
  overflow: hidden;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: 12rem;
  }

  &-empty {
    color: $brandish-grey;
    background: rgba($brandish-grey, 0.1);
    border: 1px dashed #CECECE;
    border-radius: 7px;
    padding: 5rem 0;
    line-height: 1;
  }

  &-icon {
    width: 20rem;
    height: 20rem;
  }

  &-nav {
    position: absolute;
    right: 20rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &-drop-candidate &-name {
    visibility: hidden;
  }

  &-drop-candidate &-nav {
    visibility: hidden;
  }
}
