@import 'styles/vars';

.project-table-stat-cell {
  color: $brandish-grey;
  white-space: nowrap;
  line-height: 3em;
  font-size: 10rem;

  &-count {
    font-size: 15rem;
    color: #5B5B5B;
    display: inline-block;
    margin-right: 9rem;
    min-width: 15rem;
  }

  &-status {
    &-green {
      color: $brandish-green;
    }

    &-label {
      font-size: 10rem;
      font-weight: 500;
      position: relative;
      top: -3px;
    }
  }
}
