.iconic-label {
  display: inline-block;;
  white-space: nowrap;

  &-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5rem;
  }

  &-text {
    vertical-align: middle;
    display: inline-block;
  }
}
