@import 'styles/vars';

.edit-button-labeled {
  background: 0;
  border: 0;

  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &:hover &-icon {
    stroke: $brandish-tar;
  }

  &-icon {
    margin-right: 5rem;
  }
}
