.interview-process-overview {
  &-head {
    position: relative;
    cursor: pointer;
  }

  &-title {
    font-weight: 500;
    font-size: 20rem;
    line-height: 30rem;
    color: #5B5B5B;
    margin: 0 0 16rem 0;
  }

  &-subhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8rem 0;

    &-title {
      font-weight: 500;
      font-size: 16rem;
      line-height: 24rem;
      color: #5B5B5B;
    }

    &-counter {
      text-align: right;
    }
  }

  &-question-count {
    &-title {
      font-weight: 400;
      font-size: 12rem;
      line-height: 18rem;
      color: #969696;
      margin-right: 5rem;
    }

    &-value {
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #5B5B5B;
    }
  }

  &-status {
    margin: 0;
  }

  &-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22rem;
    height: 22rem;
    line-height: 22rem;
    font-size: 22rem;
  }
}
