.question-manager-row {
    display: flex;
    align-items: center;

    &-head {
        padding-right: 8rem;
        flex: 0 1;
    }

    &-body {
        padding: 8rem;
        display: flex;
        align-items: center;
        flex: 1 1;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 7px;
    }

    &-drag-handle {
        color: #D9D9D9;
        fill: currentColor;
    }

    &-title {
        font-weight: 500;
        font-size: 14rem;
        line-height: 24rem;
        color: #000000;
        margin: 0;
        flex: 0 0 50%;
        padding: 0 16rem 0 8rem;
        position: relative;

        span {
            max-width: calc(100% - 24rem);
            display: inline-block;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 8rem;
            transform: translateY(-50%);
        }
    }

    &-type {
        font-size: 12rem;
        padding-right: 16rem;
        flex: 0 0 130rem;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    &-control {
        flex: 1 1;
        display: flex;
        justify-content: flex-end;

        &-time {
            line-height: 1;
            padding: 0 8rem;
            background: white;
            margin-right: 8rem;
            flex: 0;
            min-width: 100rem;
        }

        &-button {
            margin-right: 8rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}