@import 'styles/vars';

.compact-menu {
  position: relative;

  &-button {
    cursor: pointer;
    background: 0;
    border: 1px solid $brandish-grey;
    display: inline-block;
  }

  &-options {
    font-size: 14rem;
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: -3px 5px 33px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    background: white;
    transform: translateY(10rem);
    z-index: 1;
    padding: 0;
    max-height: 240rem;
    overflow-y: auto;
    margin: 0;
    cursor: pointer;
    list-style: 0;
    margin: 0;
    list-style-type: none;

    &-item {
      padding: 0 20rem;
      line-height: 40rem;
      white-space: nowrap;

      &-active,
      &:hover {
        font-weight: bold;
      }
    }
  }

  &-right &-options {
    text-align: left;
    right: 0;
    left: auto;
  }
}
