.interview-form {

  &-stage {
    text-align: left;
  }

  &-submit {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  &-stages {

  }

  &-stage {
    margin: 40rem 0;
  }
}
