.timed-title {
    display: flex;
    color: #282828;
    margin-bottom: 24rem;
    line-height: 36px;

    & > * {
        flex: 0;
    }

    align-items: center;

    &-text {
        font-weight: 600;
        font-size: 24rem;
        line-height: 1;
        color: inherit;
        white-space: nowrap;
    }

    &-time-input {
        line-height: 32rem;
        margin-left: 24rem;
    }
}