
.usermenu {
  position: relative;
  padding: 5rem 20rem;
  border-radius: 10px;
  box-sizing: border-box;
  background: inherit;

  &-open {
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  }

  &-head {
    cursor: pointer;
    display: flex;
    align-items: center;

    &-card {
      background: inherit;
    }

    &-carret {
      margin-left: 10rem;
      fill: inherit;
    }
  }

  &-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-2px);
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    list-style: none;
    padding: 0;
    background: inherit;
    width: 100%;
    padding: 15rem 0rem 20rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    li {
      line-height: 2em;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &-open &-submenu {
    display: block;
  }
}
